*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}

#main{
   width: 100%;
    height: 100%;
 
    display: flex;
}

#left{
    width: 40%;
    height: 100%;
    position: relative;
  
}


#lnav{
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;

}
#lnavr{
    display: flex;
    align-items: center;
}
#lnav a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
}

#lnavr i{
    color: royalblue;
}

#left #textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#textcenter h1{
    font-size: 90px;
    font-weight: 900;
}

#textcenter p{
    opacity: .6;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#textcenter a{
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
    font-size: 13px;
    font-weight: 600;
    opacity: 0.6;
}
#right{
    width: 60%;
    height: 100%;
    background-color: aquamarine;

}
#rtop{
    width: 100%;
    height: 50%;
    background-color: crimson;
    display: flex;
    
}
#rbottom{
    width: 100%;
    height: 50%;
  background-image: url(https://plus.unsplash.com/premium_photo-1726880572665-a1aa0d1caf16?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-size: cover;
    background-position: bottom;
}


#rtopleft{
    width: 55%;
    height: 100%;
    background-image: url(https://plus.unsplash.com/premium_photo-1698007654554-2fdb4efd7ff2?q=80&w=688&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#rtopright{
    width: 45%;
    height: 100%;
   background-image: url(https://plus.unsplash.com/premium_photo-1670333351949-47f735fa9ba4?q=80&w=765&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-size: cover;
    background-position: center;
}

@media(max-width: 500px){
    #main{
        flex-direction: column;
    }
    #main #left{
        width: 100%;
    }
     #main #right{
        width: 100%;
    }
}
